//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Mon 12 04 23:41:49 2023

IO_LOC "TRIGGER" 30;
IO_PORT "TRIGGER" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MISO" 27;
IO_PORT "MISO" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DS_WIRE" 25;
IO_PORT "DS_WIRE" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SS" 29;
IO_PORT "SS" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "MOSI" 28;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SCK" 26;
IO_PORT "SCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RST_N" 4;
IO_PORT "RST_N" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CLOCK_27A" 52;
IO_PORT "CLOCK_27A" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
